.myButton {
    width: 95%;
    background-color: dodgerblue;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
    background-color: blue;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButton2 {
    width: 95%;
    background-color: red;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.myButton2:hover {
    background-color: indianred;
}

.myButton2:active {
    position: relative;
    top: 1px;
}

