.kontakti
{
    margin-top: 20px;
    margin-left: 20px;
}
.subtitle
{
    padding-bottom: 10px;
    padding-top: 10px;
}
.subtitle hr
{
    width: 15%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
#title
{
    margin-top: 60px;
}
.title
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.portfolio
{
    margin-top: 20px;
}

.headshot
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery img
{
    width: 400px;

    height: 350px;
}
